@charset "UTF-8";

*{
	font-family: Helvetica;
	margin:0;
	padding:0;
	color: #333;
}

body{
	background-color:#fff;
}

a, a:visited{
	text-decoration:none;
	color:#333;
}

.defaultPadding{
	padding-left:5em;
	padding-right:5em;
}

.button{
	background-color: #bd081c;
	border-radius: 0.25em;
	font-weight: bold;
	padding: 0.5em 1.25em;
	margin-right: 0.5em;
	color:#fff;
}

.button:hover{
	filter: brightness(0.8);
}

a.button:visited, .button a, .button a:visited{
	color:#fff;
}



.button-red{
	background-color: #bd081c;
}

.red{
	color:#bd081c;
}

/***********************************************************/
/* header */
/***********************************************************/
header#mainHeader{
	border-bottom: 1px solid #ccc;
	padding-left: 1.5em;
	padding-top: 0.75em;
	padding-bottom: 0.75em;
}

header#mainHeader h1{
	background-image: url('../images/logo.png');
	background-repeat: no-repeat;
	background-position: left;
	background-size: 1.25em;
	line-height: 1.75em;
	padding-left: 1.75em;
	color: #434343;
	font-size: 1.5em;
}

/***********************************************************/
/* nav */
/***********************************************************/
nav{
	padding-top: 1.25em;
	padding-bottom: 1.25em;
}

nav header#folderNameHeader{
	font-size:2em;
	padding-bottom: 0.65em;
}

nav header#folderNameHeader h2{
	color: #555;	
}

nav ul li{
	display: inline-block;
	list-style:none;
}

/***********************************************************/
/* asside tools */
/***********************************************************/
aside{
	position:absolute;
	top:0;
	right:0;
	padding-top:0.75em;
}
.upload-btn{
	color: #fff;
	cursor:pointer;
}

.progress-bar {
    width: 0%;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #ea526f;
	border-radius: 0.5em;
}

/***********************************************************/
/* main */
/***********************************************************/


/*files*/
main#file-grid{
	background-color:#efefef;
	column-width: 15em;
	column-gap: 1em;
	padding-top:0.5em;
	padding-bottom:0.5em;
}

div.file-item{
	position:relative;
	display:inline-block;
	background-color:#fff;
	border-radius:0.5em;
	padding: 0.5em;
	margin-right:0.5em;
	margin-bottom:0.25em;
	text-align: center;
	font-weight: bold;
	width: 15em;
}

div.file-item:last{
	margin-right:0;
}

div.file-item img{
	width:15em;
	border-radius:0.5em;
}

div.file-item img.icon{
	width:auto;
}

.download-btn{
	background-color: #bd081c;
	position:absolute;
	top:1em;
	right:0.5em;
	display:none;
	color: #fff;
}

.file-item-img:hover .download-btn{
	display:block;
}

.file-item-img:hover img{
	opacity: 0.75;
}

/***********************************************************/
/* footer */
/***********************************************************/
footer{
	text-align:right;
	padding-right:2.5em;
}